<div *ngIf="businessRating">
  <p>Business name: {{ businessRating.name }}</p>
  <p>User name: {{ businessRating.userName }}</p>
  <p>Score: {{ businessRating.score }}</p>
  <p *ngIf="businessRating.comment">Comment: {{ businessRating.comment }}</p>
</div>

<p *ngIf="notFound">Rating not found !</p>

<div #gmap style="width:400px;height:250px"></div>