<ng-container *ngIf="businessRatings.length > 0 else no_ratings">
  <h3>Ratings average {{ businessRatingProvider.ratingsAverage }}</h3>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Business name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User name </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="showDetails(element.id)" mat-row *matRowDef="let element; let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

<ng-template #no_ratings><h3>Start adding ratings...</h3></ng-template>