<mat-card>
  <mat-card-header>
    <mat-card-title>Add business rating</mat-card-title>
  </mat-card-header>
  <form [formGroup]="businessRatingForm" (ngSubmit)="onSubmit()" class="business-rating-form">
    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName='name' placeholder="Business name">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName='userName' placeholder="User name">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName='score' type="number" placeholder="Score">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName='altitude' type="number" placeholder="Altitude">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName='longitude' type="number" placeholder="Longitude">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput formControlName='comment' placeholder="Comment"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="!businessRatingForm.valid">SAVE</button>
    </mat-card-actions>
  </form>
</mat-card>