<header>
  <h1>Business Rating</h1>
  <nav>
    <mat-button-toggle-group name="menuActions">
      <mat-button-toggle routerLink="/ratings" routerLinkActive="active">Ratings</mat-button-toggle>
      <mat-button-toggle routerLink="/add-rating" routerLinkActive="active">Add rating</mat-button-toggle>
    </mat-button-toggle-group>
  </nav>
</header>

<router-outlet></router-outlet>